*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

cinza{
    background-color: black;
    color: violet;
    text-align: center;
}

.maior{
    background-color: blueviolet;
    border: brown;
}